main .section:first-child {
  position: relative;
}

main .section:first-child img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
}

.tracker-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 20px 0;
  font-size: 17px;
}

.tracker-holder .progress-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  column-gap: 2px;
  transform: skew(-20deg);
  border-radius: 20px 30px;
  
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 20px; */
  background-color: rgb(0 0 0 / 0%);
}

.tracker-holder .progress-bar .part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 30px;
  padding: 0;
  background: gray;
  box-shadow: 7px 5px 15px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.tracker-holder .progress-bar .part.done {
  color: white;
  background: #343456;
}

.tracker-holder .progress-bar .part.current {
  height: 45px;
  background: #e9e962;
}

.tracker-holder .progress-bar .part.future {
  color: white;
  background: #3738a4;
}

.tracker-holder .progress-bar .part div {  
  transform: skew(20deg);
  display: none;
}

.tracker-holder .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.tracker-holder .info .details-container {
  display: none;
  width: 100%;
}

.tracker-holder .info .details-container.show {
  display: block;
}

.tracker-holder .info .details-container table {
  padding: 16px;
  background-color: gainsboro;
  width: 100%;
  border-spacing: 0;
}

.tracker-holder .info .details-container table tr {
  display: flex;
  flex-direction: column;
}

.tracker-holder .info .details-container table tr:first-child {
  display: none;
}

.tracker-holder .info .details-container table tr.not-started {
  background-color: white;
}

.tracker-holder .info .details-container table tr.in-process {
  background-color: lightgreen;
}

.tracker-holder .info .details-container table tr.finished {
  background-color: silver;
}

.tracker-holder .info .details-container table tr.waiting {
  background-color: coral;
}

.tracker-holder .info .details-container table tr.stuck {
  color: white;
  background-color: crimson;
}

.tracker-holder .info .details-container table tr td {
  padding: 16px;
}

.tracker-holder .info .details-container table tr td:last-child {
  border-bottom: 1px solid gainsboro;
}

.tracker-holder .info .details-container table tr:nth-child(2) td:first-child {
  border-top-left-radius: 10px;
}

.tracker-holder .info .details-container table tr:nth-child(2) td:last-child {
  border-top-right-radius: 10px;
}

.tracker-holder .info .details-container table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.tracker-holder .info .details-container table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.tracker-holder .info .details-container table tr td label {
  font-weight: 700;
}

.tracker-holder .info .details-container table tr td:first-child > label {
  font-size: 25px;
}

a.button.primary,
button.primary {
  color: black;
  background-color: var(--overlay-background-color);
}

@media (width >= 900px) {
  .tracker-holder {
    padding: 50px 0;
    font-size: 17px;
  }

  .tracker-holder .progress-bar {
    width: 75%;
  }

  .tracker-holder .progress-bar .part {
    height: 65px;
    padding: 20px;
    box-shadow: 20px 45px 50px rgb(0 0 0 / 25%);
  }

  .tracker-holder .progress-bar .part:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 30px;
  }

  .tracker-holder .progress-bar .part:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 20px;
  }

  .tracker-holder .progress-bar .part.current {
    height: 85px;
    background: #e9e962;
  }

  .tracker-holder .progress-bar .part div {
    display: unset;
  }

  .tracker-holder .info {
    width: 75%;
  }

  .tracker-holder .info .details-container table {
    border-radius: 10px;    
  }

  .tracker-holder .info .details-container table tr {
    display: table-row; 
  }

  .tracker-holder .info .details-container table tr td {
    border-bottom: 1px solid gainsboro;
  }

  .tracker-holder .info .details-container table tr:first-child {
    display: table-row;
    font-weight: 600;
  }

  .tracker-holder .info .details-container table tr:first-child > td {
    
  }

  .tracker-holder .info .details-container table tr:nth-child(2) td:first-child {
    border-top-left-radius: 10px;
  }

  .tracker-holder .info .details-container table tr:nth-child(2) td:last-child {
    border-top-right-radius: 10px;
  }

  .tracker-holder .info .details-container table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  .tracker-holder .info .details-container table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  .tracker-holder .info .details-container table label {
    display: none;
  }
}