.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 100;
  background: none;
  background-color: #fff;
  padding-top: 5px;
}

header .block img {
  width: auto;
  height: 50px;
  cursor: pointer;
}

header .block p {
  margin: 0;
}