header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 100;
  background: none;
}

header .block {
  position: relative;
  width: 100vw;
  background-color: #fff;
  padding: 5px 10px 0;
}

header .block img {
  width: auto;
  height: 50px;
}

header .block p {
  margin: 0;
}