.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 100;
  background: none;
  background-color: #fff;
  padding-top: 5px;
  padding-left: 20px;
}

header #menu-button {
  position: absolute;
  top: -20px;
  right: 20px;
  font-size: 60px;
  color: black;
  z-index: 1000;
}

header .block img {
  width: auto;
  height: 50px;
  cursor: pointer;
}

header .block > div {
  display: flex;
  flex-direction: column;
}

header .block p {
  margin: 0;
}

header .block ul {
  display: none;
  list-style: none;
}

header .block ul a {
  color: black;
}

@media (width >= 900px) {
  .header {
    justify-content: center;
  }

  header .block ul {
    position: absolute;
    top: 0;
    right: 60px;
    display: flex;
    gap: 20px;
    list-style: none;
  }
}