header {
	position: fixed;
	top: -65px;
	left: -35%;
	width: 100vw;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	z-index: 100;
	background: none;
	transition: top 0.2s linear;

	&.show {
		top: 0;
	}

	.block {
		position: relative;
		margin: 0 auto 0;
		background-color: #fff;
		border-radius: 0 0 5px 5px;
		padding: 5px 10px 0;

		img {
			width: auto;
			height: 50px;
		}

		p {
			margin: 0;
		}
	}
}